.box{
  color: #292D32;
  font-family: 'Poppins', sans-serif;
}
.inner-box{
  max-width: 1320px;
  margin: 0 auto;
}

.title{
  font-weight: 700;
}

.medi-title{
  font-weight: 600;
  color: #1B5A7D;
}

.star-svg{
  width: 20px;
}

.orange{
  background-color: #EDA415;
  color: #FFFFFF;
  border: 0;
}
.blue-1{
  color: #003F62;
}
.blue-2{
  color: #1B5A7D;
}
.blue-3{
  color: #265F7F;
}
.blue-4{
  color: #2E8FC5;
}
.blue-5{
  color: #87BCD9;
}
.blue-6{
  background-color: #E2F4FF;
}
.blue-7{
  color: #316887;
}
.black-1{
  color: #292D32;
}
.black-2{
  color: #3A3A3A;
}
.black-3{
  color: #4A4A4A;
}
.black-4{
  color: #3B3B3B;
}

/*CONTACT*/
.contact a{
  text-decoration: none;
  padding: 22px;
}

/*HEADER*/
.header{
  background-color: #003F62;
  color: #FFFFFF;
}

.header .inner-box{
  max-width: 1320px;
  margin: 0 auto;
  padding: 22px;
  display: flex;
  align-items: center;
}

.header img{
  width: 160px;
  height: 40px;
}

.search{
  border-radius: 20px;
  border: 0;
  padding: 18px 25px;
}
.search-btn{
  border-radius: 20px;
  margin-left: -50px;
  border: 0;
  padding: 18px 25px;
  cursor: pointer;
}

/*MENU*/
.menu-container{
  background-color: #f4f4f4;
  margin: 0;
}
.nav-bar:first-child .nav-item a{
  background-color: #EDA415;
  color: #FFFFFF;
}

/*SPECIAL PRODUCT*/
.canon{
  padding: 60px 150px;
  position: relative;
}
.canon button{
  border-radius: 20px;
  padding: 18px 32px;
}
.canon button:last-child{
  border: 0.5px solid #1B5A7D;
  color: #1B5A7D;
}
.canon-price{
  width: 100px;
  text-align: center;
  font-weight: 600;
  font-size: 20px;
  position: absolute;
  padding: 20px 30px;
  border-radius: 50%;
  top: 200px;
  left: 1050px;
}
.box .alice-carousel__dots-item{
  background-color: #FFFFFF;
  width: 12px;
  height: 12px;
  border: 1px solid #292D32;
}
.alice-carousel__dots-item:not(.__custom).__active{
  background-color: #EDA415;
  opacity: 1;
  border: 0;
}

.alice-carousel__prev-btn-wrapper{
  display: none;
}
.alice-carousel__next-btn-wrapper{
  display: none;
}
.alice-carousel__next-btn-item{
  padding: 0;
}
.alice-carousel__prev-btn-item{
  padding: 0;
}

/*TOP*/
.top{
  font-size: 16px;
}
.top-products .card{
  height: 150px;
  margin: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.top-products .card:first-child img{
  width: 50%;
  height: 70%;
}
.top-products .card img{
  width: 40%;
  display: flex;
  justify-content: center;
}
.top-products .alice-carousel__dots{
  display: none;
}
.top-products .sliderimg{
  position: relative;
}
.top-products .alice-carousel__prev-btn-wrapper{
  position: absolute;
  top: 35%;
  left: 0;
  font-size: 25px;
  padding: 0 13px;
  background-color: #EAEAEA;
  border-radius: 50%;
  display: inline-block;
}
.top-products .alice-carousel__next-btn-wrapper{
  position: absolute;
  top: 35%;
  right: 0;
  font-size: 25px;
  padding: 0 13px;
  background-color: #EAEAEA;
  border-radius: 50%;
  display: inline-block;
}

/*POPULAR PRODUCTS*/
.popular-category-btn{
  border-radius: 20px;
  padding: 10px 30px;
  border: 1px solid #1B5A7D;
  background-color: #FFFFFF;
}
.popular .card{
  width: 300px;
  height: 320px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  font-size: 17px;
  font-weight: 500;
}

.popular .card img{
  align-self: center;
}

.popular div{
  margin-top: 10px;
}

.prod-basket{
  text-align: center;
  display: inline-block;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  border: 0;
}

.prod-basket i{
  margin-top: -8px;
}

.bi-star{
  font-size: 12px;
}

/*SALE*/
.sale button{
  font-size: 14px;
  padding: 12px 26px;
  border-radius: 20px;
}
.sale .card-img-overlay{
  margin-top: 80px;
  margin-left: 600px;
}

/*THREE CARDS*/
.three-cards .row:first-child{
  display: flex;
  gap: 20px;
}
.three-cards .col .row{
  height: 310px;
}
.three-cards .col-5:last-child img{
  height: 130px;
  width: 200px;
}
.three-cards .col-4:last-child .row{
  height: 135px;
}
.three-cards .col-4:last-child .row .s-title{
  font-weight: 500;
}
.add-to-cart{
  font-size: 15px;
  font-weight: 600;
  color: #272727;
  background-color: #87BCD9;
  border: 0;
  border-radius: 20px;
  padding: 12px 25px;
  display: flex;
  gap: 20px;
}
.add-to-cart .prod-basket{
  font-size: 14px;
  width: 28px;
  height: 28px;
}
.two-cards .row{
  height: 150px;
}

/*ABOUT*/
.del{
  padding: 50px;
  border-radius: 20px;
}
.del-title{
  font-size: 22px;
  font-weight: 600;
}
.del i{
  color: #EDA415;
  font-size: 50px;
}

/*USERS*/
.users{
  margin: 50px 0;
  display: flex;
  flex-direction: row;
  gap: 20px;
}
.user{
  border: 1px solid gainsboro;
  border-radius: 20px;
}
.user img{
  border-radius: 50%;
  padding: 5px;
  width: 90px;
  border: 2px dashed #EDA415;
}
.user .col-8{
  font-weight: 600;
}
.user .user-com{
  font-size: 14px;
  border-radius: 20px;
  padding: 11px 26px;
}

.brands{
  padding: 50px 35px;
  padding-left: 100px;
}
.brands img{
  width: 206px;
}

/*BLOG*/
.blog-top h4{
  font-size: 25px;
  font-weight: 600;
}
.view{
  text-decoration: none;
  font-size: 20px;
}
.blog-image{
  width: 320px;
}
.news{
  border-radius: 20px;
  border: 1px solid gainsboro;
  padding: 40px 15px;
  width: 650px;
}
.blog{
  display: flex;
  gap: 20px;
  font-size: 13px;
}
.date{
  border: 1px solid gainsboro;
  border-radius: 20px;
  padding: 3px 10px;
  display: inline;
}
.blog-title{
  font-size: 23px;
  font-weight: 600;
}

/*FOOTER*/
.footer{
  padding: 42px 60px;
}
.footer-top{
  background-color: #FFFFFF;
  padding: 38px 95px;
  border-radius: 20px;
  margin: 0;
  font-weight: 600;
  color: #606060;
}
.footer-top .title{
  font-weight: 700;
  font-size: 30px;
}
.footer-top button{
  border-radius: 20px;
  border: 0;
  padding: 15px 25px;
  font-size: 14px;
}
.hph{
  font-size: 40px;
  color: #EDA415;
}

/* MAIN FOOTER */
.footer-logo{
  width: 140px;
}
.main-footer{
  color: #1B5A7D;
}
.footer-nav{
  font-size: 19px;
}
.nav-title{
  font-weight: 600;
}