.box{
  color: #292D32;
  font-family: 'Poppins', sans-serif;
}
.inner-box{
  max-width: 1320px;
  margin: 0 auto;
}

.title{
  font-weight: 700;
  color: #1B5A7D;
}

.medi-title{
  font-weight: 600;
  color: #1B5A7D;
}

.orange{
  background-color: #EDA415;
  color: #FFFFFF;
  border: 0;
}
.blue{
  color: #003F62;
}


/*CONTACT*/
.contact a{
  text-decoration: none;
  color: #292D32;
  padding: 22px;
}

/*HEADER*/
.header{
  background-color: #003F62;
  color: #FFFFFF;
}

.header .inner-box{
  max-width: 1320px;
  margin: 0 auto;
  padding: 22px;
  display: flex;
  align-items: center;
}

.header img{
  width: 160px;
  height: 40px;
}

.search{
  border-radius: 20px;
  border: 0;
  padding: 18px 25px;
}
.search-btn{
  border-radius: 20px;
  margin-left: -50px;
  border: 0;
  padding: 18px 25px;
  cursor: pointer;
}

/*MENU*/
.menu-container{
  background-color: #f4f4f4;
}
.menu-container .inner-box{
  margin: 0 auto;
}
.nav-bar:first-child{
  background-color: #EDA415;
}

/*SPECIAL PRODUCT*/
.canon{
  padding: 60px 150px;
  position: relative;
}
.canon button{
  border-radius: 20px;
  padding: 18px 32px;
}
.canon button:last-child{
  border: 0.5px solid #1B5A7D;
  color: #1B5A7D;
}
.canon-price{
  width: 100px;
  text-align: center;
  font-weight: 600;
  font-size: 20px;
  position: absolute;
  padding: 20px 30px;
  border-radius: 50%;
  top: 200px;
  left: 1050px;
}
.first-carousel .alice-carousel__dots-item{
  width: 12px;
  height: 12px;
  border: 1px solid #292D32;
}
.alice-carousel__dots-item:not(.__custom).__active{
  background-color: #EDA415;
  opacity: 1;
  border: 0;
}

.alice-carousel__prev-btn-wrapper{
  display: none;
}
.alice-carousel__next-btn-wrapper{
  display: none;
}
.alice-carousel__next-btn-item{
  padding: 0;
}

/*TOP*/
.top{
  font-size: 16px;
}
.top-products .card{
  height: 150px;
  margin: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #1B5A7D;
}
.top-products .card:first-child img{
  width: 50%;
  height: 70%;
}
.top-products .card img{
  width: 40%;
  display: flex;
  justify-content: center;
}
.top-products .alice-carousel__dots{
  display: none;
}
.top-products .sliderimg{
  position: relative;
}
.top-products .alice-carousel__prev-btn-wrapper{
  position: absolute;
  top: 35%;
  left: 0;
  font-size: 25px;
  padding: 0 13px;
  background-color: #EAEAEA;
  border-radius: 50%;
  display: inline-block;
}
.top-products .alice-carousel__next-btn-wrapper{
  position: absolute;
  top: 35%;
  right: 0;
  font-size: 25px;
  padding: 0 13px;
  background-color: #EAEAEA;
  border-radius: 50%;
  display: inline-block;
}

/*POPULAR PRODUCTS*/
.popular-category-btn{
  border-radius: 20px;
  padding: 10px 30px;
  border: 1px solid #1B5A7D;
  color: #1B5A7D;
  background-color: #FFFFFF;
}
.popular .card{
  width: 300px;
  height: 300px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  color: #1B5A7D;
  font-size: 17px;
  font-weight: 500;
}

.popular .card img{
  align-self: center;
}

.popular div{
  margin-top: 10px;
}

.prod-basket{
  text-align: center;
  display: inline-block;
  width: 45px;
  height: 45px;
  background-color: #EDA415;
  padding: 20px;
  border-radius: 50%;
  border: 0;
}

.popular .alice-carousel__dots-item{
  width: 12px;
  height: 12px;
  border: 1px solid #292D32;
}

.prod-basket i{
  margin-top: -8px;
}

.bi-star{
  font-size: 12px;
}

.popular .price{
  color: #292D32;
}

/*SALE*/
.sale button{
  font-size: 14px;
  padding: 12px 26px;
  border-radius: 20px;
}
.sale .title{
  color: #2E8FC5;
}
.sale .card-img-overlay{
  margin-top: 80px;
  margin-left: 600px;
}

.three-cards{
  display: flex;
  flex-direction: row;
}